code {
    color: #f47753;
    background-color: #f9f1ef;
}
.navbar-brand {
    padding: 15px 15px;
    line-height: 30px;
}
.navbar-brand img {
    margin-top: -10px;
    margin-right: 10px;
}
/* Trick to prevent section headings from hiding behind the navbar */
.section {
    margin-top: -60px;
    padding-top: 60px;
}
/* Allow scrolling of dropdown */
.dropdown-menu.globaltoc {
  max-height: calc(100vh - 60px);
  overflow: scroll;
}

/* Aside Boxes and Admonitions  */
aside {
    padding: 2em;
    padding-top: 1em;
    border-radius: 2px;
    margin: 2em;
    /*border: 1px solid #eee;*/
    box-shadow: 0 4px 10px 0 #eee;
}

aside::before {
    position: relative;
    left: -2em;
    /*top: -1em;*/
    padding: 0.5em;
    padding-right: 1em;
    font-family: "Nexa black";
    color: rgb(54, 74, 95);
    border-bottom: 1px solid #eee;
}

.aside-note::before {
    content: "✶ Note";
}

.aside-warning::before {
    content: "⚠️ Warning";
}

.aside-hint::before {
    content: "🔎 Hint";
}

.aside-pro-tip::before {
    content: "🎻 Pro Tip";
}

.aside-example::before {
    content: "💡 Example";
}

.aside-question::before {
    content: "🤔 Question";
}

.aside-definition::before {
    content: "📖 Definition";
}

.aside-custom::before {
    content: attr(label);
}

.content aside p {
    margin: 0;
    margin-top: 1em;
}

.content aside p:first-child {
    margin-top: 2em;
}

#bonus-missions > h1 a:first-child::before,
#bonus-mission > h1 a:first-child::before,
#bonus-missions > h2 a:first-child::before,
#bonus-mission > h2 a:first-child::before,
#bonus-missions > h3 a:first-child::before,
#bonus-mission > h3 a:first-child::before,
#bonus-missions > h4 a:first-child::before,
#bonus-mission > h4 a:first-child::before,
#bonus-missions > h5 a:first-child::before,
#bonus-mission > h5 a:first-child::before {
    content: '🚀 ';
}

admonition {
    padding: 2em;
    padding-top: 1em;
    border-radius: 2px;
    margin: 2em;
    /*border: 1px solid #eee;*/
    box-shadow: 0 4px 10px 0 #eee;
}

admonition::before {
    position: relative;
    left: -2em;
    /*top: -1em;*/
    padding: 0.5em;
    padding-right: 1em;
    font-family: "Nexa black";
    color: rgb(54, 74, 95);
    border-bottom: 1px solid #eee;
}

.admonition-note::before {
    content: "✶ Note";
}

.admonition-warning::before {
    content: "⚠️ Warning";
}

.admonition-hint::before {
    content: "🔎 Hint";
}

.admonition-tip::before {
    content: "🎻 Pro Tip";
}

.content admonition p {
    margin: 0;
    margin-top: 1em;
}

.content admonition p:first-child {
    margin-top: 2em;
}
/* */

pre {
    display: block;
    overflow-x: auto;
    padding: 1.5rem;
    -webkit-text-size-adjust: none;
    color: #777;
    border: 1px solid #777;
    border-radius: 4px;
}

blockquote div {
    color: #aaa;
    font-size: 16px;
    padding-top: 0;
}

.content img {
    max-width: 100%;
    box-shadow: 0 0 5px 0 #ddd;
    margin: 20px auto;
    border-radius: 4px;
    padding: 20px;
    display: block;
}

.figure img {
    margin-bottom: 10px;
}

.figure .caption {
    font-style: italic;
}

div.topic {
    border: none;
    background-color: #efefef;
    border-radius: 5px;
    padding: 7px;
}

