#chapterstoc > ul > li {
    margin-bottom: .25em;
}
.breadcrumb {
    margin-top: 21px;
}

.jumbotron {
    text-align: center;
    padding: 30px 0;
}

.jumbotron h1 {
    font-size: 39px;
}

code {
    background-color: #e5ecf3;
    color: #354a5f;
    font-weight: bold;
}
