alabaster==0.7.12
Babel==2.9.1
certifi==2019.11.28
chardet==3.0.4
commonmark==0.9.1
docutils==0.16
idna==2.8
imagesize==1.2.0
Jinja2==2.11.3
MarkupSafe==1.1.1
packaging==20.1
Pygments==2.7.4
pypandoc==1.4
pyparsing==2.4.6
pytz==2019.3
recommonmark==0.6.0
requests==2.22.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==3.3.1
git+https://github.com/LaunchCodeEducation/sphinx-bootstrap-theme.git@master
sphinxcontrib-websupport==1.1.2
urllib3==1.26.5
