/* TODO - remove these font defs once custom.css has been deployed */

@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/NexaRegular.otf') format('opentype');
}

@font-face {
    font-family: 'Nexa';
    font-style: italic;
    font-weight: 400;
    src: url('fonts/Nexa-Regular-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Nexa-XBold.otf') format('opentype');
}

@font-face {
    font-family: 'Nexa';
    font-style: italic;
    font-weight: 700;
    src: url('fonts/Nexa-XBold-Italic.otf') format('opentype');
}

/* END TODO */

body {
    font-size: 16px;
    line-height: 1.8em;
    font-family: "Nexa","Monsterrat","Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1 {
    /* TODO: this should be in /repos/bootswatch/launchcode/variables.less after we learn how to alter the theme */
    color: #3c79b8;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
    color: inherit;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong {
    color: #716b7a;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
    text-decoration: none;
}

.fas.fa-external-link-alt {
	color: inherit;
	font-size: 10px;
	padding-left: 4px;
}

code {
    background: none;
    color: #419f6a;
    padding: 0;
    font-weight: bold;
    font-size: inherit;
}

.pager code {
	color: #fff;
	font-weight: bold;
}

.navbar-brand {
    padding: 15px 15px;
    line-height: 30px;
}

.navbar-brand img {
    margin-top: -10px;
    margin-right: 30px;
}

.searchLabel {
    color:white;
    font-size: 1.4vw;
    font-family: "Nexa Black";
}

/* Trick to prevent section headings from hiding behind the navbar */
.section {
    margin-top: -60px;
    padding-top: 60px;
}

/* Allow scrolling of dropdown */
.dropdown-menu.globaltoc {
  max-height: calc(100vh - 60px);
  overflow: scroll;
}

/* Aside Boxes and Admonitions  */
.fas {
	color: #FF4F33;
}

aside {
    padding: 2em;
    padding-top: 1em;
    border-radius: 2px;
    margin: 2em;
    box-shadow: 0 4px 10px 0 #eee;
}

aside::before {
    position: relative;
    left: -2em;
    padding: 0.5em;
    padding-right: 1em;
    font-family: "Nexa Black";
    color: rgb(54, 74, 95);
    border-bottom: 1px solid #eee;
}

.aside-note::before {
    content: "Note";
}

.aside-warning::before {
    content: "Warning";
}

.aside-hint::before {
    content: "Hint";
}

.aside-pro-tip::before {
    content: "Pro Tip";
}

.aside-example::before {
    content: "Example";
}

.aside-question::before {
    content: "Question";
}

.aside-definition::before {
    content: "Definition";
}

.aside-custom::before {
    content: attr(label);
}

.content aside p {
    margin: 0;
    margin-top: 1em;
}

.content aside p:first-child {
    margin-top: 2em;
}

div.admonition {
    padding: 2em;
    padding-top: 1em;
    border-radius: 2px;
    margin: 2em;
    border: 1px solid #354a5f;
    /*box-shadow: 0 4px 10px 0 #eee;*/
    background-color: #fff;
    color: rgb(52, 74, 95);
}

.admonition-title {
    position: relative;
    left: -2em;
    /*top: -1em;*/
    padding: 0.5em;
    padding-right: 1em;
    padding-left: 2em;
    font-family: "Nexa Black";
    color: rgb(54, 74, 95);
    /*border-bottom: 1px solid #eee;*/
    display: inline-block;
}

.admonition-question > p, .admonition-question > ul {
	margin-bottom: 10px;
}

.admonition-question ol,
div[id^="exercises-"] ol ol {
    list-style-type: lower-alpha;
}

div[id^="exercises-"] ol ol ol {
    list-style-type: lower-roman;
}

.admonition-title .fas {
    margin-right: .5em;
}

.content .admonition p.last {
    margin: 0;
    margin-top: 1em;
}

.content .admonition p.first {
    margin-top: 2em;
}

pre {
    display: block;
    overflow-x: auto;
    padding: 1.5rem;
    -webkit-text-size-adjust: none;
    color: #ffffff;
    border: 1px solid #777;
    border-radius: 4px;
    background-color: #354a5f;
    margin: 0;
}

div.highlight-js,
div.highlight-none,
div.highlight-css,
div.highlight-html {
    margin: 1em 0;
}

.highlighttable .linenos {
    background-color: #354a5f;
    border-radius: 4px 0 0 4px;
    width: 42px;
    text-align: right;
}

.highlighttable .linenos pre {
    font-size: 14px;
    padding: 0;
    padding-right: 10px;
    color: #354a5f;
    color: #fff;
    border-right: 1px solid #fff;
    border-radius: 0;
}

table.highlighttable {
    width: 100%;
    margin: 0;
    table-layout: fixed;
}

table.highlighttable td {
	padding: 0;
}

.highlighttable .code pre {
    border-radius: 0 4px 4px 0;
    border-left: none;
}

blockquote {
    padding: 30px 45px;
    border: none;
    font-style: italic;
}

blockquote div {
    padding-top: 0;
}

.content img {
    max-width: 100%;
    box-shadow: 0 0 5px 0 #ddd;
    margin: 20px auto;
    border-radius: 4px;
    padding: 20px;
    display: block;
}

.figure img {
    margin-bottom: 10px;
}

.figure .caption {
    font-style: italic;
}

div.topic {
    border: none;
    background-color: #efefef;
    border-radius: 5px;
    padding: 7px;
}

/* Sidebar Navigation */

.bs-sidenav,
div.contents {
    background-color: #fff;
    font-family: "Nexa",sans-serif;
    /*
    border: 1px solid #cacacb;
    border-left-width: 0;
    border-right-width: 0;
    border-radius: 0;
    */
}

.toctree-wrapper ul  {
    list-style: none;
    padding-left: 20px;
}

div.contents a:hover {
    text-decoration: none;
}

.bs-sidenav .nav-header {
    font-weight: bold;
    font-size: 20px;
}

.bs-sidenav .nav > li > a:hover, 
.bs-sidenav .nav > li > a:focus {
    background-color: #fff;
    border: none;
    color: #354a5f;
}

.bs-sidenav > .nav-list {
    margin: 10px 0;
}

.bs-sidenav .nav-list li {
    font-size: 16px;
    margin: 2px 0;
}

.admonition .highlight,
.admonition .highlighttable {
    margin: 10px 0;
}

.admonition .highlighttable .highlight {
    margin: 0;
}

.highlight .c { color: #E67F74; font-style: italic; background-color: #354a5f } /* Comment */

.highlight .sa { color: #61C08D } /* Literal.String.Affix */
.highlight .sb { color: #61C08D } /* Literal.String.Backtick */
.highlight .sc { color: #61C08D } /* Literal.String.Char */
.highlight .dl { color: #61C08D } /* Literal.String.Delimiter */
.highlight .sd { color: #61C08D } /* Literal.String.Doc */
.highlight .s2 { color: #61C08D } /* Literal.String.Double */
.highlight .se { color: #61C08D } /* Literal.String.Escape */
.highlight .sh { color: #61C08D } /* Literal.String.Heredoc */
.highlight .si { color: #61C08D } /* Literal.String.Interpol */
.highlight .sx { color: #61C08D } /* Literal.String.Other */
.highlight .sr { color: #61C08D } /* Literal.String.Regex */
.highlight .s1 { color: #61C08D } /* Literal.String.Single */
.highlight .ss { color: #61C08D } /* Literal.String.Symbol */

.highlight .mb { color: #DF552D; font-weight: bold } /* Literal.Number.Bin */
.highlight .mf { color: #DF552D; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #DF552D; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #DF552D; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #DF552D; font-weight: bold } /* Literal.Number.Oct */

.highlight .s { color: #61C08D } /* Literal.String */

.highlight .na { color: #FF98CE; font-weight: bold } /* Name.Attribute */
.highlight .nf { color: #FF98CE; font-weight: bold } /* Name.Function */
.highlight .fm { color: #FF98CE; font-weight: bold } /* Name.Function.Magic */

.highlight .kt { color: #f1A640; font-weight: bold } /* Keyword.Type */

/* TODO - Remove these after updating shared ed styles(custom.css?) */

h2, h3, h4, h5, h6 {
    margin-top: 0.5em !important;
}

/* END TODO */

.footer p {
    margin: 0 0 10.5px;
}

/* Tables */

table caption {
    color: #716b7a;
    font-weight: bold;
    font-size: 1.2em;
}

/* END Tables */

p[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -60px;
    height: 60px;
    visibility: hidden; 
}
