.breadcrumb {
    width: 100%;
    position: fixed;
    top: 60px;
    z-index: 99;
    border-bottom: 1px solid #dbdbdb;
}

body.body-bc {
    padding-top: 98px;
}

.body-bc .section {
    margin-top: -98px;
    padding-top: 98px;
}

.body-bc p[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -98px;
    height: 98px;
    visibility: hidden; 
}

.jumbotron {
    text-align: center;
    padding: 30px 0;
}

.jumbotron h1 {
    font-size: 39px;
}
