code {
    color: #f47753;
    background-color: #f9f1ef;
}
.navbar-brand {
    padding: 15px 15px;
    line-height: 30px;
}
.navbar-brand img {
    margin-top: -10px;
    margin-right: 10px;
}
/* Trick to prevent section headings from hiding behind the navbar */
.section { 
    margin-top: -60px;
    padding-top: 60px;
}