/* BEGIN styles related to inclusion of breadcrumb nav */

.breadcrumb {
    width: 100%;
    position: fixed;
    top: 60px;
    z-index: 99;
    border-bottom: 1px solid #dbdbdb;
}

body.body-bc {
    padding-top: 98px;
}

.body-bc .section {
    margin-top: -98px;
    padding-top: 98px;
}

.body-bc p[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -105px;
    height: 105px;
    visibility: hidden; 
}

/* END styles related to inclusion of breadcrumb nav */

/* BEGIN jumbotron styles */

.jumbotron {
    text-align: center;
    padding: 0;
    margin: 0;
}

.jumbotron h1 {
    font-size: 42px;
}

.jumbotron .content > * {
	margin: 40px 0;
}

.jumbotron .pagination {
    margin: 0;
}

/* END jumbotron styles */

.toctree-wrapper ol  {
    list-style: none;
    padding-left: 20px;
}

.fas.fa-external-link-alt {
	color: inherit;
	font-size: 10px;
    padding-left: 4px;
}
